.top-nav {
  background-color: #006D3B;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
  font-size: 14px;
  align-items: center;
}

.top-left span {
  margin-right: 16px;
  cursor: pointer;
}

.top-right {
  display: flex;
  gap: 16px;
  align-items: center;
}

.search-box {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: white;
  color: black;
}

.lang-switcher {
  padding: 4px;
  border-radius: 4px;
}

.btn-outline {
  padding: 10px 16px;
  border: 2px solid #006D3B;
  background: white;
  color: #006D3B;
  border-radius: 24px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 12px;
}

.btn-cta {
  padding: 10px 20px;
  background-color: #2EF768;
  color: #003d22;
  font-weight: bold;
  border: none;
  border-radius: 24px;
  text-decoration: none;
}
